body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: 700;
  background-color: beige;
}

button.btn {
  font-size: 19px;
  margin: 10px 5px;
}

svg {
  background-color: #fff;

}

path {
  fill: #eee;
  stroke: #888;
  stroke-width: 0.3;
}

text {
  fill: #ffffff00;
  text-anchor: middle;
  pointer-events: none;
}

text.selected {
  fill: #000;
  text-anchor: middle;
  pointer-events: none;
}

path.selected {
  fill: #aaa;
}

path:hover {
  fill: #a7100cd0;
}

rect {
  fill: none;
  stroke: none;
}
rect.selection-bounds {
  stroke: #aaa;
  stroke-width: 0.3;
}
